.header-container {
  display: flex;
  height: 3rem;
  background-color: black;
  color: #fff;
  align-items: center;
  padding: 1rem;
}
.header-container .header-humbuger-icon {
  cursor: pointer;
  margin-right: 10px;
}
.header-container .search-input {
  width: 100%;
}
.search-input input {
  padding: 0.4rem;
  color: gray;
  border-radius: 30px;
  font-size: 1rem;
  outline: none;
}
.header-container .header-right-area {
  margin-left: auto;
  cursor: pointer;
}
