* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app-content {
  display: flex;
  flex: 1;
  flex-grow: 1;
}

.app-content .header-content {
  margin-left: 10%;
  width: 90%;
  transition: all 0.5s;
}
.app-content .width-full {
  width: 100%;
  margin-left: 13%;
}

.app-content .body-content {
  padding: 10px 10px;
  height: calc(90vh - 3rem);
}
